@import "functions";

:root
{
	--grey      : hsl(0, 0%, 85%);
	--dark-grey : hsl(0, 0%, 14%);
	--black     : hsl(0, 0%, 8%);
	--green     : hsl(153, 71%, 59%);
	--red       : hsl(7, 100%, 68%);

	box-sizing  : border-box;
}

*,
::before,
::after
{
	margin     : 0;
	padding    : 0;
	box-sizing : inherit;
}

body
{
	font-size        : 1rem;
	line-height      : ratio(26, 16);
	font-weight      : 500;
	font-family      : "Space Grotesk", sans-serif;
	min-height       : 100vh;
	background-color : var(--black);
	color            : var(--grey);
}

button,
input,
textarea
{
	font-family      : inherit;
	font-size        : inherit;
	line-height      : inherit;
	font-weight      : inherit;
	background-color : unset;
	border           : unset;
}

img
{
	font-style        : italic;
	vertical-align    : middle;
	max-inline-size   : 100%;
	block-size        : auto;
	shape-margin      : 1rem;
	background-repeat : no-repeat;
	background-size   : cover;
	user-select       : none;
}

input,
input::placeholder,
textarea
{
	color : white;
}

svg
{
	fill : white;
}


// Debug ------------------------------------------------------------------------

body[debug]
{
	position : relative;

	&::after
	{
		content            : "";
		display            : block;
		position           : absolute;
		inset-inline-start : 50%;
		inset-block-start  : 0;
		inline-size        : 375px;
		block-size         : 5013px;
		background-image   : url("../assets/mobile.png");
		opacity            : 0.1;
		transform          : translateX(-50%);
		pointer-events     : none;
		user-select        : none;
	}
}

@media (width >= toRem(768))
{
	body[debug]::after
	{
		inline-size      : 768px;
		block-size       : 3563px;
		background-image : url("../assets/tablet.png");
	}
}

@media (width >= toRem(1440))
{
	body[debug]::after
	{
		inline-size      : 1440px;
		block-size       : 3872px;
		background-image : url("../assets/desktop.png");
	}
}


// Typography -------------------------------------------------------------------

.heading-m,
.heading-l,
.heading-xl,
.logo
{
	font-weight : 700;
	color       : white;
}

.logo:active
{
	color : var(--green);
}

.heading-m
{
	font-size   : toRem(24);
	line-height : ratio(32, 24);
}

.heading-l
{
	font-size      : toRem(32);
	line-height    : ratio(40, 32);
	letter-spacing : toRem(-1);
}

.heading-xl
{
	font-size      : toRem(40);
	line-height    : 1;
	letter-spacing : toRem(-1.14);
}

.logo
{
	font-size       : toRem(24);
	line-height     : ratio(32, 24);
	letter-spacing  : toRem(-0.33);
	text-decoration : none;
}


// General Layout ---------------------------------------------------------------

header,
main,
footer
{
	max-inline-size : 375px;
	padding-inline  : 16px;
	margin-inline   : auto;
}


// Lists ------------------------------------------------------------------------

.socials,
.experience,
.projects,
.technologies
{
	list-style : none;
}

.socials
{
	display   : flex;
	flex-wrap : wrap;
	gap       : 20px;
}


// Header -----------------------------------------------------------------------

header
{
	text-align          : center;
	position            : relative;
	padding-block-start : 19px;

	.socials
	{
		margin-block-start : 20px;
		justify-content    : center;
	}

	.portrait
	{
		max-inline-size    : calc(174 / 375 * 100%);
		position           : absolute;
		inset-inline-start : calc((375 - 174) / 2 / 375 * 100%);
		inset-block-start  : 0;
		z-index            : -1;
	}

	h1
	{
		margin-block-start : 321px;
	}

	h1 br
	{
		display : none;
	}

	.bio
	{
		margin-block-start : 24px;
	}

	.button
	{
		margin-block-start : 24px;
	}
}

.bottom-bar
{
	text-decoration           : underline;
	text-decoration-color     : var(--green);
	text-decoration-thickness : 3px;
	text-decoration-skip-ink  : none;
}

.experience
{
	border-block-start  : 1px solid;
	padding-block-start : 40px;
	padding-block-end   : 39px;
	margin-block-start  : 80px;

	li + li
	{
		margin-block-start : 23px;
	}

	li > div:nth-child(2)
	{
		margin-block-start : 2px;
	}
}


// Main -------------------------------------------------------------------------

main
{
	display               : grid;
	grid-template-columns : 1fr 1fr;
	justify-items         : start;
	margin-block-start    : 80px;

	> h2,
	> .button
	{
		grid-row-start : 1;
	}

	> .button
	{
		grid-column-start   : 2;
		margin-inline-start : auto;
	}
}

.projects
{
	grid-row-start : 2;
	grid-column    : 1 / 3;

	> li
	{
		margin-block-start : 40px;
	}
}

.project
{
	[class^="heading"]
	{
		margin-block-start : 20px;
	}

	> .button
	{
		margin-block-start : 21px;
	}

	> .button:nth-of-type(2)
	{
		margin-inline-start : 26px;
	}
}

.technologies
{
	display            : flex;
	gap                : 20px;
	font-size          : toRem(18);
	line-height        : ratio(28, 18);
	margin-block-start : 7px;
}


// Footer -----------------------------------------------------------------------

footer
{
	text-align          : center;
	padding-block-start : 62px;
	padding-block-end   : 49px;
	margin-block-start  : 79px;
	background-color    : var(--dark-grey);

	p
	{
		margin-block-start : 20px;
	}

	form
	{
		display            : grid;
		row-gap            : 33px;
		margin-block-start : 50px;
		padding-block-end  : 87px;
		border-block-end   : 1px solid;
	}

	form > *
	{
		display : block;
	}

	input,
	textarea
	{
		padding-inline-start : 25px;
		padding-block-end    : 15px;
		border-block-end     : 1px solid;
	}

	input::placeholder
	{
		text-transform : uppercase;
	}

	input,
	textarea
	{
		padding-inline-start : 25px;
		padding-block-end    : 15px;
		border-block-end     : 1px solid;
	}

	textarea
	{
		padding-block-end : 27px;
		resize            : none;
	}

	.button
	{
		justify-self : end;
	}

	div
	{
		padding-block-start : 39px;
	}

	div > .socials
	{
		justify-content    : center;
		margin-block-start : 19px;
	}
}


// Utilities --------------------------------------------------------------------

.button
{
	display           : inline-block;
	font-weight       : 700;
	text-transform    : uppercase;
	text-decoration   : none;
	letter-spacing    : toRem(2.29);
	padding-block-end : 9px;
	color             : white;
	border-block-end  : 2px solid var(--green);

	&:active
	{
		color : var(--green);
	}
}

button.button
{
	background         : none;
	border-block-start : none;
	border-inline      : none;
}

.uppercase
{
	text-transform : uppercase;
}


//-------------------------------------------------------------------------------
// Tablet -----------------------------------------------------------------------
//-------------------------------------------------------------------------------

@media (width >= toRem(768))
{
	// Typography ---------------------------------------------------------------

	body
	{
		font-size   : toRem(18);
		line-height : ratio(28, 18);
	}

	.heading-xl
	{
		font-size      : toRem(72);
		letter-spacing : toRem(-2.05);
	}

	.heading-l
	{
		font-size      : toRem(48);
		line-height    : ratio(56, 48);
		letter-spacing : toRem(-1.5);
	}

	.logo
	{
		font-size      : toRem(32);
		line-height    : 1;
		letter-spacing : toRem(-0.44);
	}


	// Lists --------------------------------------------------------------------

	.socials
	{
		column-gap : 30px;
	}


	// General Layout -----------------------------------------------------------

	header,
	main,
	footer
	{
		max-inline-size : 768px;
		padding-inline  : 30px;
	}


	// Header -------------------------------------------------------------------

	header
	{
		display               : grid;
		grid-template-columns : 1fr 1fr;
		text-align            : unset;
		position              : relative;
		padding-block-start   : 29px;

		.socials
		{
			justify-content    : end;
			margin-block-start : 4px;
		}

		.portrait
		{
			max-inline-size    : 322px;
			position           : absolute;
			inset-inline-start : unset;
			inset-inline-end   : 0;
			inset-block-start  : 0;
			z-index            : -1;
		}

		h1,
		.bio,
		.experience
		{
			grid-column-end : span 2;
		}

		h1
		{
			margin-block-start : 87px;
		}

		h1 br
		{
			display : initial;
		}

		.bio
		{
			max-inline-size    : 32ch;
			margin-block-start : 76px;
			grid-column-start  : 1;
		}

		.button
		{
			margin-block-start : 35px;
			justify-self       : start;
		}
	}

	.bottom-bar
	{
		text-decoration-thickness : 4px;
	}

	.experience
	{
		display               : grid;
		grid-template-columns : subgrid;
		row-gap               : 54px;
		margin-block-start    : 60px;
		padding-block-start   : 53px;

		li + li
		{
			margin-block-start : unset;
		}

		li > div:nth-child(2)
		{
			margin-block-start : 12px;
		}
	}


	// Main ---------------------------------------------------------------------

	main
	{
		margin-block-start : 61px;

		> .button
		{
			align-self : center;
		}
	}

	.projects
	{
		display               : grid;
		grid-template-columns : subgrid;
		column-gap            : 22px;

		> li
		{
			margin-block-start : 60px;
		}
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		padding-block-start : 60px;
		padding-block-end   : 37px;
		margin-block-start  : 100px;

		p
		{
			max-inline-size : 38ch;
			margin-inline   : auto;
		}

		form
		{
			padding-inline     : 128px;
			padding-block-end  : 92px;
			margin-block-start : 47px;
		}

		[type="email"]
		{
			padding-block-end : 13px;
		}

		textarea
		{
			padding-block-end : 21px;
		}

		> div
		{
			display             : flex;
			justify-content     : space-between;
			padding-block-start : 29px;
		}

		> div .socials
		{
			margin-block-start : 5px;
		}
	}


	// Utilities ----------------------------------------------------------------

	.button
	{
		font-size      : toRem(16);
		line-height    : ratio(26, 16);
		letter-spacing : toRem(2.29);
	}
}


//-------------------------------------------------------------------------------
// Desktop ----------------------------------------------------------------------
//-------------------------------------------------------------------------------

@media (width >= toRem(1440))
{
	// Typography ---------------------------------------------------------------

	.heading-xl
	{
		font-size      : toRem(88);
		letter-spacing : toRem(-2.5);
	}

	.heading-l
	{
		font-size      : toRem(48);
		line-height    : ratio(56, 48);
		letter-spacing : toRem(-1.5);
	}

	.logo
	{
		font-size      : toRem(32);
		line-height    : 1;
		letter-spacing : toRem(-0.44);
	}


	// General Layout -----------------------------------------------------------

	header,
	main,
	footer
	{
		max-inline-size : 1440px;
		padding-inline  : 165px;
	}


	// Header -------------------------------------------------------------------

	header
	{
		padding-block-start : 39px;

		.portrait
		{
			max-inline-size  : 445px;
			inset-inline-end : 164px;
		}

		h1
		{
			max-inline-size    : 14ch;
			margin-block-start : 123px;
		}

		h1 br
		{
			display : none;
		}

		.bio
		{
			max-inline-size    : 36ch;
			margin-block-start : 43px;
		}

		.button
		{
			margin-block-start : 67px;
		}

		.socials
		{
			margin-inline-end : 29px;
			column-gap        : 31px;
		}
	}

	.bottom-bar
	{
		text-decoration-thickness : 6px;
		text-underline-offset     : 15px;
	}

	.experience
	{
		grid-template-columns : repeat(3, 1fr);
		row-gap               : 60px;
		column-gap            : 30px;
		padding-block-start   : 73px;
		margin-block-start    : 219px;
	}


	// Margin -------------------------------------------------------------------

	main
	{
		margin-block-start : 102px;
	}

	.projects
	{
		margin-block-start : 80px;
		column-gap         : 30px;
		row-gap            : 11px;

		> li
		{
			margin-block-start : unset;
		}
	}


	// Footer -------------------------------------------------------------------

	footer
	{
		display               : grid;
		grid-template-columns : 1fr 1fr;
		column-gap            : 220px;
		text-align            : unset;
		padding-block-start   : 83px;
		padding-block-end     : 88px;
		margin-block-start    : 81px;

		p
		{
			margin-inline      : unset;
			margin-block-start : 37px;
		}

		form
		{
			margin-block-start : unset;
			padding-inline     : unset;
			border-block-end   : unset;
		}

		> div
		{
			grid-column-end     : span 2;
			padding-block-start : 47px;
			border-block-start  : 1px solid;
		}
	}
}
